<!DOCTYPE html>
<html>
    <head>
        <title>
            Web Demo
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
    <body>
      <header class="container" >
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-center">
            <div class="container">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav nav-jusitfied">
                        <a href="#" class="nav-item nav-link active">Home</a>&nbsp;
                        <a href="#" class="nav-item nav-link">PORTFOLID</a>&nbsp;
                        <a href="#" class="nav-item nav-link">BLOG</a>&nbsp;
                        <a href="#" class="nav-item nav-link">ABOUT</a>&nbsp;
                        <a href="#" class="nav-item nav-link">CONTACT</a>&nbsp;
                        <a href="#" class="nav-item nav-link">SERVICES</a>&nbsp;
                    </div>
                    
                </div>
            </div>    
        </nav>
    </header>

    <div class="bs-example">
        <img src="mdy2.jpg" alt="" class="img" width="100%" height="500px" >
    </div>
    <div class="container" style="text-align: center; height: 500px;">
        <h2>Our Services</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus fugit, soluta repellendus error non culpa? Ad at, harum inventore sequi saepe optio, laudantium soluta nisi possimus et voluptatem, voluptatibus tempora.</p>
        <div class="row">
            
                <div class=" col-sm text-center">
                    <i class="fa fa-language" style="font-size: 60px;" ></i>
                    <h4>Language</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>

                </div>
                <div class=" col-sm text-center">
                    <i class="fa fa-phone" style="font-size: 60px;"></i>
                    <h4>Language</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>
                    
                </div>
                <div class=" col-sm text-center">
                    <i class="fa fa-globe" style="font-size: 60px;"></i>
                    <h4>Help</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>
                    
                </div>
                <div class=" col-sm text-center">
                    <i class="fa fa-headphones" style="font-size: 60px;"></i>
                    <h4>Language</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>
                    
                </div>
                <div class=" col-sm  text-center">
                    <i class="fa fa-laptop" style="font-size: 60px;"></i>
                    <h4>Language</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>
                    
                </div>
        </div>


    </div>
    <div class="container-fluid" style="background-color: rgb(64, 162, 187); ">
        <div class="row" style="padding: 40px;">
          <div class="col-lg-6" style="text-align:center;"><img src="03.jpg" alt="" width="50%" height="200px" ></div>
        <div class="col-lg-6" style="padding-right:300px; text-align:center justifed;color: white;"><h4 style="text-size:25px; color: white;">Lorem ipsum dolor sit amet</h4><br> consectetur adipisicing elit. Saepe fuga earum perferendis veniam deserunt, in explicabo nisi tenetur voluptatibus natus quos modi autem, recusandae pariatur voluptate, magni eos rerum! Unde?</div>
        </div>
    </div>
     <div class="container">
        <div class="row" style="padding-top: 40px; padding-bottom: 40px;">
            
            <div class=" col-md-4 text-center">
                <i class="fa fa-language" style="font-size: 60px;" ></i>
                <h4>Language</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>

            </div>
            <div class=" col-md-4  text-center">
                <i class="fa fa-phone" style="font-size: 60px;"></i>
                <h4>Language</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>
                
            </div>
            <div class="col-md-4  text-center">
                <i class="fa fa-globe" style="font-size: 60px;"></i>
                <h4>Help</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>
                
            </div>
            <div class=" col-md-4   text-center">
                <i class="fa fa-headphones" style="font-size: 60px;"></i>
                <h4>Language</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>
                
            </div>
            <div class=" col-md-4  text-center">
                <i class="fa fa-laptop" style="font-size: 60px;"></i>
                <h4>Language</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>
                
            </div>
            <div class=" col-md-4 text-center">
                <i class="fa fa-laptop" style="font-size: 60px;"></i>
                <h4>Language</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas quod adipisci placeat numquam reiciendis aspernatur rem ex officiis incidunt dolor voluptatibus blanditiis autem soluta!</p>
                
            </div>
    </div>
     </div>
     <div class="container-fluid" style="background-color:  rgb(64, 162, 187);">
         <div style="text-align: center; padding-bottom: 40px; padding-top: 40px;">
        <h2 >SEND US A MESSAGE</h2>
         <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet excepturi molestias, suscipit nulla nam voluptas </P>
        </div>
        <form action="#">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="name" placeholder="Enter your Name" name="username">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="name" placeholder="Enter your NRC Id Name" name="username">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="name" placeholder="Enter Password" name="username">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col">
                    <input type="text" class="form-control" id="name" placeholder="Enter your Name" name="username">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="name" placeholder="Enter your NRC Id Name" name="username">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="name" placeholder="Enter Password" name="username">
                </div>
            </div>
            <div class="row" style="padding-top: 10px; padding-left: 20px;padding-right: 40px;">
            <textarea name="text" id="comment"  rows="5" cols="10"  class="form-control" id="comment"></textarea>
             </div>  
             <button inputtype="button" class="btn btn-warning" style="margin-top: 10px; margin-bottom: 50px; padding-left: 20px;width: 200px; margin-left: 10px;">Send</button>
        </form>
     </div>

    </body>
</html>